<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
<parameter name="browser" value="CHROME"></parameter>
    <classes>
      <class name="com.zerodha.kite.tests.KiteLoginTest"/>
      <class name="com.zerodha.kite.tests.KiteLoginPagesValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
